.notice {
  font-size: 14px;
  padding: 6px !important;
  border-radius: 3px !important;
  max-width: 260px !important;
  display: flex !important;
  align-items: center !important;
  > div {
    margin: 0 !important;
  }
}

.notice-success {
  background: #4caf50 !important;
  color: #FFF !important;
}

.notice-error {
  background: #ef5030 !important;
  color: #FFF !important;
}

.notice-warning {
  background: #ff9800 !important;
  color: #FFF !important;
}
