.layout {
  height: 100%;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  &.sunk {
    padding-top: 0;
  }
  .main {
    flex: 1;
    &.no-shrink {
      flex-shrink: 0;
      height: 0;
    }
  }
}
