.reader-container {
  width: 100%;
  flex: 1;
  &.cover {
    height: 100%;
  }
}

.markdown-reader.cover :global {
  .milkdown {
    flex: 1;
    max-height: 100%;
    overflow: auto;
  }
}

.markdown-reader :global {
  .milkdown {
    width: 100%;
  }
}

.markdown-reader {
  & > div {
    height: 100%;
    display: flex;
  }
}
