.markdown-editor.cover :global {
  .milkdown {
    flex: 1;
    max-height: 100%;
    overflow: auto;
  }

  .milkdown-menu-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    .milkdown {
      min-width: 100%;
    }
  }
}

.markdown-editor :global {
  .milkdown {
    width: 100%;
  }
}

.markdown-editor {
  & > div {
    height: 100%;
    display: flex;
  }
}

.markdown-editor :global {
  .milkdown-menu-wrapper {
    width: 100%;
  }
}
