.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: $header-z-index;

  &.hide-menu {
    .content-container {
      margin-top: -$header-height;
    }
  }

  .language-switcher {
    margin-right: 16px;
  }
}

.header {
  .content-container {
    height: $header-height;
    transition: margin-top $transform-time;
    margin-top: 0;

    h3 {
      line-height: $header-height;
    }
  }

  .header-right {
    align-items: center;
  }
}

.header h3:not(:last-child) {
  margin-right: $item-margin;
}

.header-link {
  display: inline-block;
}
