.header {
  width: 100%;
  line-height: 20px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: $header-z-index;

  &.hide-menu :global {
    .content-container {
      margin-top: -$header-height;
    }
  }
}

.header :global {
  .content-container {
    transition: margin-top $transform-time;
    margin-top: 0;
    .content {
      padding: 20px 0;
    }
  }
}

.header h3:not(last-child) {
  margin-right: $item-margin;
}

.header-link {
  display: inline-block;
}
