.header {
  width: 100%;
  line-height: 20px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  height: $header-height;
  overflow: hidden;

  &.submenu :global {
    .content-container {
      margin-top: -$header-height;
    }
  }
}

.header :global {
  .content-container {
    transition: margin-top .6s;
    margin-top: 0;
    .content {
      padding: 20px 20px;
    }
  }
}

.header h3:not(last-child) {
  margin-right: $item-margin;
}

.header-link {
  display: inline-block;
}
