.article-edit-page {
    max-width: $content-max-width;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.article-edit-page > div:last-child {
    flex: 1;
}

@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/material-icons.woff2) format('woff2');
}
