.article-edit-page {
    width: 100%;
    flex-direction: column;

    .inner-box {
        flex-direction: column;
        display: flex;
        flex: 1;
        height: 100%;
    }
}

.cover-with-content {
    display: flex;
    flex: 1;
    flex-shrink: 0 !important;
    height: 0;
}

.edit-page-layout {
    flex-direction: column;
}

.markdown-cover-container {
    width: 100%;
}

.article-edit-page > div:last-child {
    flex: 1;
}

.article-layout {
    display: flex;
}

@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/material-icons.woff2) format('woff2');
}
