* {
  box-sizing: border-box;
}

html, body, body > div {
  height: 100%;
}

.ground-glass {
  backdrop-filter: blur(20px);
}

.content-container {
  flex: 1;
  display: flex;
  justify-content: center;
  .content {
    max-width: $content-max-width;
  }
}

.full-vertical {
  height: 100%;
}
