$component-bg: #FFF;
$border-color: #DDD;
$border-width: 1px;
$border-type: solid;
$border: $border-width $border-type $border-color;
$item-margin: 15px;
$margin-to-bound: 20px;

$header-height: 60px;

$content-max-width: 1200px;
$thin-content-max-width: 650px;
